In [1]:
# Import Data Preprocessing and Wrangling libraries
import re
import pandas as pd 
import numpy as np
from datetime import datetime

In [2]:
tweets_df = pd.read_csv("musk_quote_tweets.csv")
tweets_df.head()

,orig_tweet_id,orig_tweet_created_at,orig_tweet_text,orig_tweet_url,orig_tweet_twitter_url,orig_tweet_username,orig_tweet_retweet_count,orig_tweet_reply_count,orig_tweet_like_count,orig_tweet_quote_count,...,orig_tweet_bookmark_count,musk_tweet_id,musk_quote_tweet,musk_quote_retweet_count,musk_quote_reply_count,musk_quote_like_count,musk_quote_quote_count,musk_quote_view_count,musk_quote_bookmark_count,musk_quote_created_at
0,1655977349530243074,2023-05-09 16:45:41+00:00,Hot take:\n\n@Twitter can become the world's n...,https://x.com/GuyDealership/status/16559773495...,https://twitter.com/GuyDealership/status/16559...,GuyDealership,632,497,7730,123,...,387,1655978502187778073,Yup,3255,3747,39533,225,11392206.0,281,2023-05-09 16:50:16+00:00
1,1655968201422012418,2023-05-09 16:09:20+00:00,If Legacy Media is going to shove bigotry porn...,https://x.com/TheRabbitHole84/status/165596820...,https://twitter.com/TheRabbitHole84/status/165...,TheRabbitHole84,1409,412,5328,264,...,633,1655968899903418373,Massive public manipulation,9811,2694,49528,534,14404853.0,1241,2023-05-09 16:12:06+00:00
2,1647327385342320640,2023-04-15 19:53:49+00:00,Starlink provides internet to the most remote ...,https://x.com/teslaownersSV/status/16473273853...,https://twitter.com/teslaownersSV/status/16473...,teslaownersSV,1253,800,8472,175,...,173,1647339741610926080,ðŸ’¯,8257,4793,106036,376,18520248.0,366,2023-04-15 20:42:55+00:00
3,1646226917387796491,2023-04-12 19:00:57+00:00,National Public Radio Denies Being National Or...,https://x.com/TheBabylonBee/status/16462269173...,https://twitter.com/TheBabylonBee/status/16462...,TheBabylonBee,4781,701,37752,442,...,167,1646228474628280326,ðŸ¤£ðŸ¤£,10198,5076,108462,430,16690340.0,340,2023-04-12 19:07:08+00:00
4,1640016339011076097,2023-03-26 15:42:19+00:00,Arthur C. Clarke about the future of AI. \nâ€”21...,https://x.com/Rainmaker1973/status/16400163390...,https://twitter.com/Rainmaker1973/status/16400...,Rainmaker1973,5409,737,20773,814,...,3333,1640171198091866114,Prescient,9193,5118,56272,572,25169601.0,3792,2023-03-27 01:57:41+00:00

In [3]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7147 entries, 0 to 7146
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   orig_tweet_id              7147 non-null   int64
 1   orig_tweet_created_at      7147 non-null   object
 2   orig_tweet_text            7147 non-null   object
 3   orig_tweet_url             7147 non-null   object
 4   orig_tweet_twitter_url     7147 non-null   object
 5   orig_tweet_username        7147 non-null   object
 6   orig_tweet_retweet_count   7147 non-null   int64
 7   orig_tweet_reply_count     7147 non-null   int64
 8   orig_tweet_like_count      7147 non-null   int64
 9   orig_tweet_quote_count     7147 non-null   int64
 10  orig_tweet_view_count      6634 non-null   float64
 11  orig_tweet_bookmark_count  7147 non-null   int64
 12  musk_tweet_id              7147 non-null   int64
 13  musk_quote_tweet           7147 non-null   object
 14  musk_quote_retweet_count   7147 non-null   int64
 15  musk_quote_reply_count     7147 non-null   int64
 16  musk_quote_like_count      7147 non-null   int64
 17  musk_quote_quote_count     7147 non-null   int64
 18  musk_quote_view_count      6653 non-null   float64
 19  musk_quote_bookmark_count  7147 non-null   int64
 20  musk_quote_created_at      7147 non-null   object
dtypes: float64(2), int64(12), object(7)
memory usage: 1.1+ MB

In [4]:
num_duplicates = tweets_df.duplicated().sum()
print(num_duplicates)

0

In [5]:
tweets_df.drop(['orig_tweet_url', 'orig_tweet_twitter_url', 'orig_tweet_quote_count'], axis=1, inplace=True)
tweets_df.head()

,orig_tweet_id,orig_tweet_created_at,orig_tweet_text,orig_tweet_username,orig_tweet_retweet_count,orig_tweet_reply_count,orig_tweet_like_count,orig_tweet_view_count,orig_tweet_bookmark_count,musk_tweet_id,musk_quote_tweet,musk_quote_retweet_count,musk_quote_reply_count,musk_quote_like_count,musk_quote_quote_count,musk_quote_view_count,musk_quote_bookmark_count,musk_quote_created_at
0,1655977349530243074,2023-05-09 16:45:41+00:00,Hot take:\n\n@Twitter can become the world's n...,GuyDealership,632,497,7730,12218484.0,387,1655978502187778073,Yup,3255,3747,39533,225,11392206.0,281,2023-05-09 16:50:16+00:00
1,1655968201422012418,2023-05-09 16:09:20+00:00,If Legacy Media is going to shove bigotry porn...,TheRabbitHole84,1409,412,5328,14775379.0,633,1655968899903418373,Massive public manipulation,9811,2694,49528,534,14404853.0,1241,2023-05-09 16:12:06+00:00
2,1647327385342320640,2023-04-15 19:53:49+00:00,Starlink provides internet to the most remote ...,teslaownersSV,1253,800,8472,20877634.0,173,1647339741610926080,ðŸ’¯,8257,4793,106036,376,18520248.0,366,2023-04-15 20:42:55+00:00
3,1646226917387796491,2023-04-12 19:00:57+00:00,National Public Radio Denies Being National Or...,TheBabylonBee,4781,701,37752,18478251.0,167,1646228474628280326,ðŸ¤£ðŸ¤£,10198,5076,108462,430,16690340.0,340,2023-04-12 19:07:08+00:00
4,1640016339011076097,2023-03-26 15:42:19+00:00,Arthur C. Clarke about the future of AI. \nâ€”21...,Rainmaker1973,5409,737,20773,27514757.0,3333,1640171198091866114,Prescient,9193,5118,56272,572,25169601.0,3792,2023-03-27 01:57:41+00:00

In [6]:
elon_tweets_df = tweets_df.copy()
elon_tweets_df = elon_tweets_df.loc[tweets_df['orig_tweet_username'] == "elonmusk"]
elon_tweets_df

,orig_tweet_id,orig_tweet_created_at,orig_tweet_text,orig_tweet_username,orig_tweet_retweet_count,orig_tweet_reply_count,orig_tweet_like_count,orig_tweet_view_count,orig_tweet_bookmark_count,musk_tweet_id,musk_quote_tweet,musk_quote_retweet_count,musk_quote_reply_count,musk_quote_like_count,musk_quote_quote_count,musk_quote_view_count,musk_quote_bookmark_count,musk_quote_created_at
14,1668843112955891712,2023-06-14 04:49:38+00:00,Bold,elonmusk,49375,18263,334997,127858792.0,6344,1668868113725550592,"Once again, Iâ€™d like to offer this platform to...",18655,21155,208132,1974,59238311.0,996,2023-06-14 06:28:59+00:00
21,1665784889008873476,2023-06-05 18:17:20+00:00,https://t.co/OT6bqzUK8P,elonmusk,10205,7183,58206,34809220.0,2905,1665788623797600258,On now,5473,5188,51793,295,18446361.0,423,2023-06-05 18:32:11+00:00
40,1656748197308674048,2023-05-11 19:48:45+00:00,Excited to announce that Iâ€™ve hired a new CEO ...,elonmusk,30150,31364,361878,120525183.0,2900,1657050349608501249,I am excited to welcome Linda Yaccarino as the...,24273,48138,213386,9439,84042223.0,2782,2023-05-12 15:49:24+00:00
53,999367582271422464,2018-05-23 19:12:53+00:00,Going to create a site where the public can ra...,elonmusk,41664,17931,235900,NaN,1333,1650637588078665728,Or maybe just X,5792,5999,63709,504,17064005.0,355,2023-04-24 23:07:23+00:00
75,1619415871902056449,2023-01-28 19:23:25+00:00,"@atensnut Nonetheless, I apologize",elonmusk,414,1166,8046,1923932.0,59,1619504327663714304,@SRuhle https://t.co/79KLYgGGLj,123,333,3793,35,1359014.0,16,2023-01-29 01:14:55+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6520,1852745739379658774,2024-11-02 16:13:01+00:00,"â€œIf you strike me down, I will become more pow...",elonmusk,44896,15724,262883,67891067.0,8239,1852914164093550795,The government should not be allowed to barge ...,45228,13265,270726,1677,26272064.0,4725,2024-11-03 03:22:16+00:00
6565,863222555208851456,2017-05-13 02:41:09+00:00,"On my cousin's farm in Canada at 17, wearing a...",elonmusk,4944,1207,41847,NaN,46,920845980467163139,It all comes full circle https://t.co/zqiCDLhFWy,2121,398,22828,104,NaN,8,2017-10-19 02:56:04+00:00
6665,1872464643266089067,2024-12-27 02:08:54+00:00,Just a reminder that the algorithm is trying t...,elonmusk,8287,17140,79372,78495447.0,5487,1872497302369382670,"That said, any accounts found to be engaged in...",10151,9788,82209,1874,46886963.0,3028,2024-12-27 04:18:40+00:00
6803,1869865296376303763,2024-12-19 22:00:01+00:00,Yesterdayâ€™s bill vs todayâ€™s bill ðŸ˜‚ https://t.c...,elonmusk,34049,16611,435742,112315734.0,11067,1869866550737424761,This shows how much your voice matters!\n\nAnd...,59341,20295,399547,3064,38745244.0,8983,2024-12-19 22:05:00+00:00
6862,1869414233483698402,2024-12-18 16:07:39+00:00,How can this be called a â€œcontinuing resolutio...,elonmusk,27456,15154,96979,34153827.0,2477,1869452968522928304,Please call your elected representatives right...,16386,2898,66985,557,10124900.0,778,2024-12-18 18:41:35+00:00

In [7]:
quote_df = tweets_df.copy()
quote_df = quote_df.loc[tweets_df['orig_tweet_username'] != "elonmusk"]
quote_df.head()

,orig_tweet_id,orig_tweet_created_at,orig_tweet_text,orig_tweet_username,orig_tweet_retweet_count,orig_tweet_reply_count,orig_tweet_like_count,orig_tweet_view_count,orig_tweet_bookmark_count,musk_tweet_id,musk_quote_tweet,musk_quote_retweet_count,musk_quote_reply_count,musk_quote_like_count,musk_quote_quote_count,musk_quote_view_count,musk_quote_bookmark_count,musk_quote_created_at
0,1655977349530243074,2023-05-09 16:45:41+00:00,Hot take:\n\n@Twitter can become the world's n...,GuyDealership,632,497,7730,12218484.0,387,1655978502187778073,Yup,3255,3747,39533,225,11392206.0,281,2023-05-09 16:50:16+00:00
1,1655968201422012418,2023-05-09 16:09:20+00:00,If Legacy Media is going to shove bigotry porn...,TheRabbitHole84,1409,412,5328,14775379.0,633,1655968899903418373,Massive public manipulation,9811,2694,49528,534,14404853.0,1241,2023-05-09 16:12:06+00:00
2,1647327385342320640,2023-04-15 19:53:49+00:00,Starlink provides internet to the most remote ...,teslaownersSV,1253,800,8472,20877634.0,173,1647339741610926080,ðŸ’¯,8257,4793,106036,376,18520248.0,366,2023-04-15 20:42:55+00:00
3,1646226917387796491,2023-04-12 19:00:57+00:00,National Public Radio Denies Being National Or...,TheBabylonBee,4781,701,37752,18478251.0,167,1646228474628280326,ðŸ¤£ðŸ¤£,10198,5076,108462,430,16690340.0,340,2023-04-12 19:07:08+00:00
4,1640016339011076097,2023-03-26 15:42:19+00:00,Arthur C. Clarke about the future of AI. \nâ€”21...,Rainmaker1973,5409,737,20773,27514757.0,3333,1640171198091866114,Prescient,9193,5118,56272,572,25169601.0,3792,2023-03-27 01:57:41+00:00

In [8]:
quote_df.drop(['orig_tweet_id', 'orig_tweet_text', 'orig_tweet_username', 'orig_tweet_retweet_count', 'orig_tweet_reply_count', 'orig_tweet_like_count', 'orig_tweet_view_count', 'orig_tweet_bookmark_count'], axis=1, inplace=True)
quote_df.head()

,orig_tweet_created_at,musk_tweet_id,musk_quote_tweet,musk_quote_retweet_count,musk_quote_reply_count,musk_quote_like_count,musk_quote_quote_count,musk_quote_view_count,musk_quote_bookmark_count,musk_quote_created_at
0,2023-05-09 16:45:41+00:00,1655978502187778073,Yup,3255,3747,39533,225,11392206.0,281,2023-05-09 16:50:16+00:00
1,2023-05-09 16:09:20+00:00,1655968899903418373,Massive public manipulation,9811,2694,49528,534,14404853.0,1241,2023-05-09 16:12:06+00:00
2,2023-04-15 19:53:49+00:00,1647339741610926080,ðŸ’¯,8257,4793,106036,376,18520248.0,366,2023-04-15 20:42:55+00:00
3,2023-04-12 19:00:57+00:00,1646228474628280326,ðŸ¤£ðŸ¤£,10198,5076,108462,430,16690340.0,340,2023-04-12 19:07:08+00:00
4,2023-03-26 15:42:19+00:00,1640171198091866114,Prescient,9193,5118,56272,572,25169601.0,3792,2023-03-27 01:57:41+00:00

In [9]:
elon_tweets_df.drop(['musk_tweet_id', 'musk_quote_tweet', 'musk_quote_retweet_count', 'musk_quote_reply_count', 'musk_quote_like_count', 'musk_quote_quote_count', 'musk_quote_view_count', 'musk_quote_bookmark_count', 'musk_quote_created_at'], axis=1, inplace=True)
elon_tweets_df.head()

,orig_tweet_id,orig_tweet_created_at,orig_tweet_text,orig_tweet_username,orig_tweet_retweet_count,orig_tweet_reply_count,orig_tweet_like_count,orig_tweet_view_count,orig_tweet_bookmark_count
14,1668843112955891712,2023-06-14 04:49:38+00:00,Bold,elonmusk,49375,18263,334997,127858792.0,6344
21,1665784889008873476,2023-06-05 18:17:20+00:00,https://t.co/OT6bqzUK8P,elonmusk,10205,7183,58206,34809220.0,2905
40,1656748197308674048,2023-05-11 19:48:45+00:00,Excited to announce that Iâ€™ve hired a new CEO ...,elonmusk,30150,31364,361878,120525183.0,2900
53,999367582271422464,2018-05-23 19:12:53+00:00,Going to create a site where the public can ra...,elonmusk,41664,17931,235900,NaN,1333
75,1619415871902056449,2023-01-28 19:23:25+00:00,"@atensnut Nonetheless, I apologize",elonmusk,414,1166,8046,1923932.0,59

In [10]:
quote_df.to_csv('quote_tweets.csv', index = False)

In [11]:
elon_tweets_df.to_csv('original_tweets.csv', index = False)